# Compiled WebAssembly files
*.wasm

# npm
node_modules

# VS Code
.vscode

# GitHub Pages
/dist

# test logs
*.log

# test output
test_results.json
screenshots_test_results.json

# PPU screenshots test output
/screenshots_out