.container {
	flex: 0 0 auto;
	display: inline-block;
	background-color: rgb(208, 224, 64);
	font-size: 0; /* remove potential ghost spacing */
}

.canvas {
	width: 100%;
	height: 100%;
	display: block;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

@media (max-width: 768px) {
	.container {
		/* !important to override inline styles set by CanvasRenderer */
		width: 100vw !important;
		height: 50vh !important;
		display: flex !important;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.canvas {
		/* Force the canvas to fill the container, but respect aspect ratio */
		width: 100% !important;
		height: 100% !important;
		max-width: 100vw;
		object-fit: contain !important;
	}
}
