.container {
	flex: 0 0 auto;
	display: inline-block;
	background-color: rgb(208, 224, 64);
	box-shadow: 0px 0px 0px 4px #707185;
	font-size: 0; /* remove potential ghost spacing */
}

.canvas {
	width: 100%;
	height: 100%;
	display: block;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
