.app {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	gap: 24px;
	position: relative;
}

@media (max-width: 768px) {
	.app {
		flex-direction: column;
		justify-content: flex-start;
		gap: 0;
		overflow: hidden;
	}
}
